@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

#photo{
    height: 600px;
    margin: 15px;
    width: 200px;
    float: left;
    background-color: rgb(82, 77,78);
}
#myName, #jobTitle {
    text-align: center;
    color: whitesmoke;
}

#intro {
    float: left;
    text-align: justify;
    width: 1180px;
    margin: 5px;
    margin-top: 17px;
}
#abouthead{
    color: whitesmoke;
    background-color: rgb(82, 77,78);
    width: 180px;

}

body{
    background-color: rgb(212, 210,210);
    font-family: "Tapestry";
}

nav a {
    text-decoration: none;
    margin-right: 8px;
    color: black;
    border-bottom: 3px solid rgb(95,78,78);
}

a:hover{
    color:whitesmoke;
    background-color: black;
}

#Nav{
    float: right;

}